__pycache__/
*.pyc 
.venv/
.venv*/
.antigravity/

# directory:

#config
config/.env
config/__pycache__

#logs
logs/dbt_logs
logs/pipeline_logs

#notebook

#price_intel_dbt
price_intel_dbt/target/
price_intel_dbt/dbt_packages/
price_intel_dbt/logs/
price_intel_dbt/profiles.yml

#src
src/__pycache__
src/artifacts/preprocessed/classification/
src/artifacts/preprocessed/regression/

#parent dir
.user.yml
readme_note.md 
#incomplete
