__pycache__/
*.pyc 
.venv/
.venv*/
~/price_intel_dbt/profiles.yml
dbt_packages/
target/
.env

#IDE config
.antigravity/
.vscode/

# directory:
#config
config/.env
config/__pycache__

#logs
logs/dbt_logs
logs/pipeline_run
logs/mlruns
logs/mlflow.db

#notebook
notebook/temps

#price_intel_dbt
price_intel_dbt/target/
price_intel_dbt/dbt_packages/
price_intel_dbt/logs/
price_intel_dbt/profiles.yml

#src
src/__pycache__
src/artifacts/models
src/artifacts/preprocessed

#parent dir
.user.yml
readme_note.md 
agents.md
#incomplete
