__pycache__/
*.pyc 
.venv/
.venv*/
.antigravity/

# directory:

#config
config/.env
config/__pycache__

#logs
logs/dbt_logs
logs/pipeline_logs

#price_intel_dbt
price_intel_dbt/target/
price_intel_dbt/dbt_packages/
price_intel_dbt/logs/
price_intel_dbt/profiles.yml

#parent dir
mininotion.txt
.user.yml
README.md #incomplete